* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}



.header-test{
    background-image: url("../assets/M3.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

 .header-test .navbar-test{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 50px ;
    position: fixed;
    z-index: 999999;
    width: 100%;
    
}
.header-test .navbar-test .menu1 ul{
    display: flex;
    gap: 40px;
    
}
.header-test .navbar-test img{
    width: 90px;
    height: 60px;
}



.header-test .navbar-test .menu2 ul{
    display: flex;
    gap: 30px;
}

.main-test{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
}

.main-test .heading h2{
    font-size: 23px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */

}


.main-test .buttons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 50px;
    gap:20px;
    margin-top: 100px;
}
.main-test .buttons p {
    background-color: rgb(63, 63, 63);
    font-size: 18px;
    border: 1px solid;
    border-radius:25px;
    padding: 10px 30px;
    color: antiquewhite;
    

}

 #color {
    font-size: 15px;
    background-color: antiquewhite;
    color: black;

    
}
.footer{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 30px;
    font-family: sans-serif;
    font-size: 15px;
}


 
.header-test2{
    background-image: url("../assets/ModelY.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.header-test3{
    background-image: url("../assets/MX.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.header-test4{
    background-image: url("../assets/MS.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.header-test5{
    background-image: url("../assets/HPDesign.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.header-test6{
    background-image: url("../assets/solar\ home.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.header-test7{
    background-image: url("../assets/DesktopAccessories.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}